@import '_variables.scss';
@import '_mixins.scss';
@import '_dateinput.scss';

body {
  background-color: $bg;
  color: $bg1;
  font-size: 20px;

  button {
    @include styleit();
    margin-top: 40px;
    &:hover {
      transition: 0.4s ease-in-out;
      @include toggleColor();
    }
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .age-model {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .age-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .test {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        .age-whole {
          font-size: 6em;
        }

        p {
          width: 12ch;
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  body {
    @include toggleColor();

    .vdatetime {
      .vdatetime-input {
        @include toggleColor();
        &::placeholder {
          color: $bg;
        }
      }
    }

    button {
      @include toggleColor();
    }
  }
}
